/*
默认内间距、外间距*/
*{
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: '微软雅黑';
}
html {
  background-color: #F2F2F2;
}
/*清除a标签下划线*/
a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #2fa7b9;
}
#nprogress .bar {
  background: #083a6d !important;
}

